html{
    overflow: hidden;
}
body{ 
    height: 100vh;
    background-color: black;
    overflow: hidden;
    text-align: center;
    margin: 0;
    padding: 0;
}

.b1{
    height: 15rem;
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -20rem;
    z-index: 1000;
    opacity: 0;
}

.bubble0{
    top: 5rem;
    left: -15rem;
    position: relative;
    transform: rotate(45deg);
    z-index: 1;
    animation: bubble 30s 1 linear;  /* 30 */
    opacity: 1;
    transform: rotate(0deg);
    border: 0.5rem solid white;
}

.bubble1{
    top: 50rem;
    right: -12rem;
    position: absolute;
    z-index: 5;
    opacity: 1;
    animation: bubble1 35s 1 linear;  /* 35 */
    opacity: 0.6;
    transform: rotate(0deg);
    border: 0.5rem solid rgb(255, 0, 0);
}

.bubble2{
    top: -20rem;
    right: -10rem;
    position: absolute;
    z-index: 5;
    opacity: 1;
    animation: bubble2 50s 1 linear; /* 50 */
    transform: rotate(0deg);
    border: 0.5rem solid rgb(255, 231, 10);
}

.bubble3{
    position: absolute;
    top: -22rem;
    left: 0rem;
    z-index: 2;
    opacity: 1;
    animation: bubble3 20s 1 linear; /* 20 */
    transform: rotate(0deg);
    border: 0.5rem solid rgb(51, 255, 0);
}

.bubble4{
    position: relative;
    top: 49rem;
    left: -8rem;
    opacity: 1;
    animation: bubble4 30s 1 linear; /* 30 */
    transform: rotate(0deg);
    border: 0.5rem solid rgb(0, 60, 255);
}

.bubble5{
    top: -19rem;
    left: -25rem;
    position: relative;
    transform: rotate(45deg);
    z-index: 1;
    animation: bubble5 40s 1 linear; /* 60 */
    opacity: 1;
    transform: rotate(0deg);
    border: 0.5rem solid rgb(195, 0, 255);
}

.bubble6{
    top: 45rem;
    right: -14rem;
    position: absolute;
    z-index: 5;
    opacity: 1;
    animation: bubble6 70s 1 linear; /* 70 */
    transform: rotate(0deg);
    border: 0.5rem solid rgb(0, 247, 255);
}

.bubble7{
    top: -25rem;
    left: 4rem;
    position: absolute;
    z-index: 5;
    opacity: 1;
    animation: bubble7 85s 1 linear; /* 90 */
    transform: rotate(0deg);
}

@keyframes bubble {
    from{
    }
    to{
        top: 35rem;
        left: 35rem;
        transform: rotate(18deg);
    }
}

@keyframes bubble1 {
    from{
    }
    to{
        top: 3rem;
        right: 50rem;
        transform: rotate(-20deg);
    }
}

@keyframes bubble2 {
    from{
    }
    to{
        top: 60rem;
        right: 60rem;
        transform: rotate(-30deg);
    }
}

@keyframes bubble3 {
    from{
    }
    to{
        top: 20rem;
        left: 20rem;
        transform: rotate(20deg);
    }
}

@keyframes bubble4 {
    from{
    }
    to{
        top: -10rem;
        left: 18rem;
        transform: rotate(20deg);
    }
}

@keyframes bubble5 {
    from{
    }
    to{
        top: 28rem;
        left: 36rem;
        transform: rotate(18deg);
    }
}

@keyframes bubble6 {
    from{
    }
    to{
        top: -3rem;
        right: 45rem;
        transform: rotate(-20deg);
    }
}

@keyframes bubble7 {
    from{
    }
    to{
        top: 65rem;
        left: 25rem;
        transform: rotate(-30deg);
    }
}


.out-bub{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
    opacity: 0.4;
}

.in-dream{
    position: relative;
    height: 40%;
    z-index: 5;
    border-radius: 5%;
}

.container{
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden; /* this will cut anything going outside */
}

.wishes{
    position: absolute;
    top: 17rem;
    height: 5rem;
    color: antiquewhite;
    opacity: 0.5;
    width: 80%;
    justify-self: center;
}

.seven-bub-container{
    position: absolute;
    top: 0rem;
    z-index: 1000;
    height: 100vh;
    width: 100vh;
}
