html{
    overflow: hidden;
}
body{ 
    height: 100vh;
    background-color: black;
    overflow: hidden;
    text-align: center;
    margin: 0;
    padding: 0;
}

.b1{
    height: 22rem;
    width: 22rem;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -20rem;
    z-index: 1000;
    opacity: 0;
}

.bubble0{
    top: -17rem;
    left: -15rem;
    position: relative;
    transform: rotate(45deg);
    z-index: 1;
    animation: bubble 43s 1 linear;  /* 30 */
    opacity: 1;
    transform: rotate(0deg);
}

.bubble1{
    top: 24rem;
    left: -17.2rem;
    position: absolute;
    z-index: 5;
    opacity: 1;
    animation: bubble1 65s 1 linear;  /* 35 */
    opacity: 1;
    transform: rotate(0deg);
}

.bubble2{
    top: 25rem;
    left: -17.5rem;
    position: absolute;
    z-index: 5;
    opacity: 1;
    animation: bubble2 30s 1 linear; /* 50 */
    transform: rotate(0deg);
}

.bubble3{
    position: absolute;
    top: -22rem;
    left: 30rem;
    z-index: 2;
    opacity: 1;
    animation: bubble3 23s 1 linear; /* 20 */
    transform: rotate(0deg);
}

.bubble4{
    position: relative;
    top: 35rem;
    left: 8rem;
    opacity: 1;
    animation: bubble4 45s 1 linear; /* 30 */
    transform: rotate(0deg);
}

.bubble5{
    top: -50rem;
    left: 23rem;
    position: relative;
    transform: rotate(45deg);
    z-index: 1;
    animation: bubble5 60s 1 linear; /* 60 */
    opacity: 1;
    transform: rotate(0deg);
   

}

.bubble6{
    top: 10rem;
    right: 1rem;
    position: absolute;
    z-index: 5;
    opacity: 1;
    animation: bubble6 75s 1 linear; /* 70 */
    transform: rotate(0deg);
}

@keyframes bubble {
    from{
        height: 10rem;
        width: 10rem;
    }
    to{
        top: 35rem;
        left: 35rem;
        transform: rotate(18deg);
    }
}

@keyframes bubble1 {
    from{
        height: 12rem;
        width: 12rem;
    }
    to{
        top: 35rem;
        left: 28rem;
        transform: rotate(-20deg);
    }
}

@keyframes bubble2 {
    from{
    }
    to{
        top: -18rem;
        left: 23rem;
        transform: rotate(-30deg);
    }
}

@keyframes bubble3 {
    from{
        height: 16rem;
        width: 16rem;
    }
    to{
        top: 47rem;
        left: 2rem;
        transform: rotate(20deg);
    }
}

@keyframes bubble4 {
    from{
        height: 9rem;
        width: 9rem;
    }
    to{
        top: -15rem;
        left: -18rem;
        transform: rotate(20deg);
    }
}

@keyframes bubble5 {
    from{
    }
    to{
        top: 48rem;
        left: -10rem;
        transform: rotate(18deg);
    }
}

@keyframes bubble6 {
    from{
        height: 9rem;
        width: 9rem;
    }
    to{
        top: -3rem;
        right: 45rem;
        transform: rotate(-20deg);
    }
}

@keyframes bubbl {
    from{
    }
    to{
        top: 65rem;
        left: 25rem;
        transform: rotate(-30deg);
    }
}


.out-bub{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
    opacity: 0.4;
}

.in-dream{
    position: relative;
    height: 40%;
    z-index: 5;
    border-radius: 5%;
}

.container{
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden; /* this will cut anything going outside */
}

.wishes{
    position: absolute;
    top: 17rem;
    height: 5rem;
    color: antiquewhite;
    opacity: 0.5;
    width: 80%;
    justify-self: center;
}

.seven-bub-container{
    position: absolute;
    top: 0rem;
    z-index: 1000;
    height: 100vh;
    width: 100vh;
}
