html{
    overflow: hidden;
}
body{ 
    min-height:100vh;
    background: linear-gradient(to bottom, #4b0734 , #000000);
    overflow: hidden !important;
    text-align: center;
    margin: 0;
    padding: 0;
}

.b1{
    height: 22rem;
    width: 22rem;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -20rem;
    z-index: 1000;
    opacity: 0;
}

.bubble0{
    top: -17rem;
    left: -15rem;
    position: absolute;     /*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/
    transform: rotate(45deg);
    z-index: 1;
    animation: bubble 50s 1 linear;  /* 43 */
    opacity: 1;
    transform: rotate(0deg);
}

.bubble1{
    position: absolute;
    top: 24rem;
    left: -20rem;
    z-index: 5;
    opacity: 1;
    animation: bubble1 68s 1 linear;  /* 65 */
    opacity: 1;
    transform: rotate(0deg);
}

.bubble2{
    top: 25rem;
    left: -17.5rem;
    position: absolute;
    z-index: 5;
    opacity: 1;
    animation: bubble2 28s 1 linear; /* 50 */
    transform: rotate(0deg);
}

.bubble3{
    position: absolute;
    top: -20rem;
    /* right: 3rem; */
    transform: translate(calc(100vw + 100px), 0);
    z-index: 2;
    opacity: 1;
    animation: bubble3 23s 1 linear; /* 20 */
    transform: rotate(0deg);
}

.bubble4{
    position: absolute;
    top: calc(100vh + 150px);
    left: calc(50vw);
    opacity: 1;
    animation: bubble4 45s 1 linear; /* 30 */
    transform: rotate(0deg);
}

.bubble5{
    top: -38rem;
    left: calc(100vw + 90px);
    position: absolute;   /*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/
    transform: rotate(45deg);
    z-index: 1;
    animation: bubble5 44s 1 linear; /* 60 */
    opacity: 1;
    transform: rotate(0deg);
   

}

.bubble6{
    position: absolute;
    top: 10rem;
    left: calc(100vw + 30rem);
    z-index: 5;
    opacity: 1;
    animation: bubble6 75s 1 linear; 
    transform: rotate(0deg);
}

@keyframes bubble {
    from{
        height: 10rem;
        width: 10rem;
    }
    to{
        top: 43rem;
        left: 38rem;
        transform: rotate(18deg);
    }
}

@keyframes bubble1 {
    from{
        height: 12rem;
        width: 12rem;
        
    }
    to{
        top: 65vh;
        left: calc(100vw + 100px);
    }
}

@keyframes bubble2 {
    from{
    }
    to{
        top: -18rem;
        left: 23rem;
        transform: rotate(-30deg);
    }
}

@keyframes bubble3 {
    from{
        height: 16rem;
        width: 16rem;
        transform: translate(calc(100vw + 50px), 1rem);
    }
    to{
        transform: translate(0, calc(100vh + 250px));
        /* transform: rotate(20deg); */
    }
}

@keyframes bubble4 {
    from{
        height: 9rem;
        width: 9rem;
    }
    to{
        top: calc(12vh);
        left: -18rem;
        transform: rotate(20deg);
    }
}

@keyframes bubble5 {
    from{
    }
    to{
        top: calc(100vh + 8rem);
        left: -7rem;
        transform: rotate(18deg);
    }
}

@keyframes bubble6 {
    from{
        height: 9rem;
        width: 9rem;
    }
    to{
        top: -7rem;
        left : calc(-40vw - 8rem);
        transform: rotate(-20deg);
    }
}

@keyframes bubbl {
    from{
    }
    to{
        top: 65rem;
        left: 25rem;
        transform: rotate(-30deg);
    }
}


.out-bub{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
    opacity: 0.4;
}

.in-dream{
    position: relative;
    height: 40%;
    z-index: 5;
    border-radius: 5%;
}

.container{
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden; /* this will cut anything going outside */
}

.wishes{
    position: absolute;
    top: 13rem;
    height: 5rem;
    color: antiquewhite;
    opacity: 0.5;
    width: 80%;
    justify-self: center;
}

.seven-bub-container{
    position: absolute;
    top: 0rem;
    z-index: 1000;
    height: 100vh;
    width: 100vh;
}

.last-msg{
    height: 28rem;
    width: 19rem;
    background-image: url("../images/paper2.png");
    background-size: cover;
    position: absolute;
    top: 10rem;
    left: 3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: rotate(10deg);  
    animation: lastmsg 30s 1 linear;
}

.line1{
    height: 5rem;
    width: 10rem;
    position: relative;
    top: -3rem;
}

.hide{
    display: none;
}


@keyframes lastmsg {
    0%{
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}


