html{
    overflow: hidden;
}

body{
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.container{
    height: 100vh;             /* full viewport height */
    width: 100vw; 
    background-image: url("../images/castle.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 0;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.flowers{
    height: 13rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0rem;
    z-index: 50;
    overflow: hidden;
    pointer-events: none;
}
.flower{
    flex: 1;               /* each image takes equal space */
    width: 100%;           /* scale inside flex item */
    height: auto;          /* maintain aspect ratio */
    object-fit: cover;
}

.items{
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 10;    
}

.first{
    position: absolute;
    height: 15rem;
    width: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 4;
    bottom: 4.1rem;
    left: 0rem;
}

.tree{
    position: absolute;
    z-index: 8;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

.girl1{
    height: 50%;
    z-index: 5;
    transform: rotate(-35deg);
    margin-bottom: 2rem;
    margin-right: 0rem;
    
}

.second{
    position: absolute;
    height: 15rem;
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 4;   
    top: 1rem;
    left: 1rem;
}

.cloud{
    position: absolute;
    z-index: 8;
    height: 100%;
    width: 100%;
    pointer-events: none;
}
.girl2{
    position: absolute;
    z-index: 4;
    height: 60%;
    margin-bottom: 1rem;
    transform: rotate(23deg);
}

.third{
    position: absolute;
    height: 20rem;
    width: 17rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 4;
    
    bottom: 4rem;
    right: -8rem;
}

.snowman{
    position: absolute;
    z-index: 8;
    height: 120%;
    width: 120%;
    pointer-events: none;
    transform: rotate(-35deg);
}
.girl3{
    position: absolute;
    z-index: 4;
    height: 70%;
    margin-bottom: 3rem;
    margin-right: -1rem;
    transform: scaleX(1);
    
}

.found{
    border: 0.1rem solid red;
    border-radius: 50%;
    z-index: 999;
    transform: rotate(0deg);
}

.starter{
    height: 10rem;
    width: 15rem;
    border: 0.3rem solid rgba(0, 80, 47, 0.952);
    background-color: rgba(255, 221, 180, 0.466);
    border-radius: 2rem;
    text-align: center;
    font-size: large;
    font-weight: 900;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    position: absolute;
    z-index: 1000 !important;
    
}

.btn{
    height: 2rem;
    width: 4rem;
    background-color: rgba(0, 165, 110, 0.658) ;
    border-radius: 3rem;
    border: 0.3rem solid rgba(0, 80, 47, 0.952);
    color: rgb(197, 255, 231);;

    display: flex;              
    justify-content: center; 
    align-items: center;
}

.gameRule{
    color:rgba(0, 80, 47, 0.952);
    font-weight: bolder;
}

.timer{
    position: absolute;
    top: 2rem;
    right: 1rem;
    height: 3rem;
    width: 5rem;
    border: 0.2rem solid rgb(0, 97, 68);
    border-radius: 3rem 0 3rem 0;
    background-color: rgba(0, 163, 114, 0.925);
    display: flex;
    justify-content: center;
    align-items: center;
}


.gameOver{
    height: 20rem;
    width: 25rem;
    background-image: url("../images/paper1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 5;
    z-index: 9000;
    top: 15rem;
    transform: rotate(20deg);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.line{
    width: 15rem;
    text-align: center;
    font-size: 1.2rem;
    margin-right: 3rem;
}
.go-to-page3{
    margin-right: 3rem;
    height: 2rem;
    width: 4rem;
}

.hide{
    display: none;
    pointer-events: none;
}

.pointer-none{
    pointer-events: none;
}

